
/*Cards1*/
.servicos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f39f5b;
  padding-top: 5.0rem;
  padding-bottom: 5.0rem;
  flex-wrap: wrap;
  align-content: center;
  gap: 20px;
}

.card {
  width: 190px;
  height: 254px;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
  ;
  box-shadow: 0rem 6px 13px rgba(0, 0, 0, 0.1),
    0rem 24px 24px rgba(0, 0, 0, 0.09), 0rem 55px 33px rgba(0, 0, 0, 0.05),
    0rem 97px 39px rgba(0, 0, 0, 0.01), 0rem 152px 43px rgba(0, 0, 0, 0);
}

.text-title {
  font-size: 1.5em;
  font-weight: bold;
  color: #1b3f36;
}

.card-details {
  color: black;
  height: 100%;
  gap: .5em;
  display: grid;
  place-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #255022;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

.text-body {
  color: rgb(134, 134, 134);
}

/*Text*/
.text-title {
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Arima Madurai', sans-serif;
}

/*Hover*/
.card:hover {
  border-color: #255022;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}

/*Cards2*/
.servicos2 {
  display: flex;
  justify-content: space-evenly;
  align-items: left;
  flex-direction: column;
  text-align: left;
  padding-bottom: 3.0rem;
  flex-wrap: wrap;
}

.servicostitulo {
  font-family: 'Arima Madurai', sans-serif;
  font-size: 2.5rem;
  color: #255022;
  text-align: left;
  font-weight: bold;
  margin-left: 3.0rem;
  margin-bottom: 0.5rem;
  padding-top: 3.0rem;
  padding-bottom: 3.0rem;
}

.servicostexto {
  font-family: 'Arial', sans-serif;
  font-size: 1.5rem;
  color: #255022;
  text-align: left;
  margin-left: 3.0rem;
  margin-bottom: 0.5rem;

  padding-bottom: 3.0rem;
}

.cards2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 3.0rem;
  padding-bottom: 3.0rem;
  background: #f4f4f4;
  flex-wrap: wrap;
  gap: 20px;

}

.card2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  padding: 36px;
  border-radius: 24px;
  overflow: hidden;
  line-height: 1.6;
  border: 1px solid 255022;
  box-shadow: 0rem 6px 13px rgba(0, 0, 0, 0.199),
    0rem 24px 24px rgba(0, 0, 0, 0.09), 0rem 55px 33px rgba(0, 0, 0, 0.05),
    0rem 97px 39px rgba(0, 0, 0, 0.01), 0rem 152px 43px rgba(0, 0, 0, 0);
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  color: #255022;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content .heading {
  font-family: "arima madurai", sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 1.5rem;
  line-height: 1.3;
  z-index: 1;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content .para {
  z-index: 1;
  opacity: 0.8;
  font-size: 18px;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.card2::before {
  content: "";
  position: absolute;
  right: -5.2rem;
  top: -5.2rem;
  width: 10.4rem;
  height: 10.4rem;
  background: #255022;
  z-index: 0;
  opacity: 0;
  border-radius: 50%;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.card2::after {
  content: "";
  position: absolute;
  left: -5.2rem;
  bottom: -5.2rem;
  width: 10.4rem;
  height: 10.4rem;
  background: #FFB66D;
  z-index: 0;
  opacity: 0;
  border-radius: 50%;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.card2:hover::before {
  scale: 7;
  opacity: 1;
}

.card2:hover::after {
  scale: 7;
  opacity: 1;
}

.card2:hover .content .heading {
  color: #255022;
}

.card2:hover .content .para {
  color: #255022;
}

.card2:hover {
  box-shadow: 0rem 6px 13px rgba(228, 159, 80, 0.932),
    0rem 24px 24px rgba(0, 0, 0, 0.09), 0rem 55px 33px rgba(0, 0, 0, 0.05),
    0rem 97px 39px rgba(0, 0, 0, 0.01), 0rem 152px 43px rgba(0, 0, 0, 0);
  border-color: #255022;
  scale: 1.05;
}

/*Cards3*/
.cards-depoimentos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 3.0rem;
  padding-bottom: 3.0rem;
  flex-wrap: wrap;
  gap: 20px;

}

.card-depoimento {
  background: #fff;
  max-width: 250px;
  width: 100%;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.icon {
  width: 60px;
  height: 60px;
  background-color: #f5f5f5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 10px auto;
  font-size: 24px;
  color: #3f51b5;
}

.card-depoimento h3 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #333;
  
  font-family: "Arima Madurai", sans-serif;
}

.stars {
  margin: 8px 0 15px 0;
  color: #ff9800;
  font-size: 18px;
}

.card-depoimento p {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
  text-align: justify;
}

/*SocialMedia*/
.socialmedia {
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
}

/* for all social containers*/
.socialContainer {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgb(42, 100, 57);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 1s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: 0.3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: 0.3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #128c7e;
  transition-duration: 0.3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media (max-width: 600px) { 
  .card{
    
  }
 .card-image {
    width: 50px;
    height: 50px;
  }
  .text-title{
    font-size: 1rem;
  }
 .text-body{
    font-size: 0.8rem;
    text-align: center;
  }
  .card-button{
    font-size: 0.8rem;
    padding: 0.3rem 0.6rem;
  }

}